<div class="container-fluid">

    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand">Burger Fervor <span><i class="fas fa-hamburger"></i></span></a>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="text" placeholder="add a burger" id="new-burger">
            <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit" id="add-burger">Add Burger</button>

        </form>
    </nav>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="mb-3">Burgers to Devour</h2>
            {{#each burgers}}
            {{#unless devoured}}
            <form action="/eat/{{this.id}}" method="post">
                <div class="container">
                    <p class="lead">{{burger_name}}
                    </p>
                    <button class="btn btn-secondary" type="submit" id={{this.id}}>devour that shit</button></span>
                </div>
            </form>
            {{/unless}}
            {{/each}}
        </div>
        <div class="col">
            <h2 class="mb-3">Devoured Burgers</h2>
            {{#each burgers}}
            {{#if devoured}}
            <p class="text-secondary lead">{{burger_name}}</p>
            {{/if}}
            {{/each}}
        </div>
    </div>
</div>